.autoCompleteListbox::-webkit-scrollbar {
  width: 5px;
  background-color: #333333;
}

.autoCompleteListbox::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #00b2ff;
}

.autoCompleteListbox::-moz-scrollbar {
  width: 5px;
  background-color: #222224;
}

.autoCompleteListbox::-moz-scrollbar-thumb {
  border-radius: 5px;

  background-color: #00b2ff;
}

.autoCompleteListbox::-ms-scrollbar {
  width: 5px;
  background-color: #222224;
}

.autoCompleteListbox::-ms-scrollbar-thumb {
  border-radius: 5px;
  background-color: #00b2ff;
}

.autoCompleteListbox::-o-scrollbar {
  width: 5px;
  background-color: #222224;
}

.autoCompleteListbox::-o-scrollbar-thumb {
  border-radius: 5px;
  background-color: #00b2ff;
}
